@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.welcome{
  background-color: bisque;
  height:130px
}
#logo {
  position: absolute;
  top: 1rem; 
  right: 2rem;
  max-width: 70%;  
}
.chapeau{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
.question-group{
  text-align: center;
  font-size: large;
}
nav{
  display: flex;
  justify-content: center;
}
button{
  background-color: #4CAF50; 
  color: #ffffff; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
}
p{
  text-align: center;
  color:red;
}